# python
*.egg-info
*_version.py
*.pyc
*__pycache__
.mypy_cache

# notebooks
*ipynb
*ipynb_checkpoints

# pytask
.pytask.sqlite3
.pytask

# bld
bld/

# src
src/crime_patterns/data/

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.snm
*.nav
*.pdf
*.run.xml
*.synctex.gz

# coverage
.coverage